<mat-nav-list>
  <div class="profile-card">
    <div class="header"></div>
    <h2>Name Surname</h2>
    <h4>example@email.com</h4>
    <img src="assets/img/admin1.png" alt="here should be admin/user img">
  </div>

  <mat-divider></mat-divider>
  <h2 matSubheader>App Links</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/employees">Employees</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/calendar">Calendar</a>
  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>



  <mat-divider></mat-divider>

  another menu
  </mat-nav-list>


