<mat-nav-list>
  <div class="profile-card">
    <div class="header"></div>
    <h2>{{username}}</h2>
    <h4>{{email}}</h4>

    <div *ngIf="isAdmin; else elseUserImg">
    <img  src="assets/img/admin1.png" alt="here should be admin img">
    </div>

    <ng-template #elseUserImg><img  src="assets/img/user.png" alt="here should be user img"></ng-template>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>App Links</h2>

  <div *ngIf="isAdmin; else elseUserLinks">
  <!--  Admin app links  -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ems/dashboardadmin">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ems/employees">Employee List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ems/tasksadmin">Tasks</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ems/vacations">Vacation</a>
</div>
  <ng-template #elseUserLinks>
  <!--User App links -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ems/dashboarduser">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ems/edit">Edit Profile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ems/tasksuser">Tasks</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ems/vacationreq">Vacation Request</a>
  </ng-template>


  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

  <mat-divider></mat-divider>
  <h2 matSubheader>another menu</h2>
  </mat-nav-list>


