table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.add-task-button{
  margin-bottom: 60px;
}
.task-complete {
  background-color: #4CAF50;
}
.task-new {
  background-color: #FFC107;
}
