
<h2>Assigned tasks:</h2>

<div class="mat-elevation-z8">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilterTa($event.target.value)" placeholder="Search for">
  </mat-form-field>
  <table #table1 mat-table [dataSource]="dataSourceTa" matSort class="mat-elevation-z8">

    <!-- Task id column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Task id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Task description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Task status column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Task startDate column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> startDate</th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>

    <!-- Task endDate column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> endDate </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
    </ng-container>

    <!-- Emp firstName column -->
    <ng-container matColumnDef="employeeFirstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> first Name</th>
      <td mat-cell *matCellDef="let element"> {{element.employeeFirstName}} </td>
    </ng-container>

    <!-- Emp lastName column -->
    <ng-container matColumnDef="employeeLastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> last Name</th>
      <td mat-cell *matCellDef="let element"> {{element.employeeLastName}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">

      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" >
          <mat-icon matTooltip="Click to mark task as completed">done</mat-icon>
        </button>
      </mat-cell>

    </ng-container>
    <!-- HEADERS-->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsTa">
    </tr>
    <!-- ROWS-->
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTa;"></tr>

  </table>
  <mat-paginator #firstPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!--LINE BREAK LINE BREAK LINE BREAK LINE BREAKLINE BREAK LINE BREAK LINE BREAK LINE BREAK -->
<br>

<h2>Unassigned tasks:</h2>

<div class="mat-elevation-z8">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilterTu($event.target.value)" placeholder="Search for">
  </mat-form-field>
  <table #table2 mat-table [dataSource]="dataSourceTu" matSort class="mat-elevation-z8">

    <!-- Task id column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Task id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Task description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Task status column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Task startDate column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> startDate</th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>

    <!-- Task endDate column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> endDate </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">

      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="assignTask(row.id)">Assign Task
        </button>
      </mat-cell>

    </ng-container>
    <!-- HEADERS-->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsTu">
    </tr>
    <!-- ROWS-->
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTu;"></tr>

  </table>
  <mat-paginator #secondPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<br>

<button mat-raised-button color="primary" type="submit"  (click)="addNewTask()">Add new Task</button>
