//:host{
//
//}
//.example-container .mat-form-field + .mat-form-field {
//  margin-left: 25px;
//}
//
//.example-right-align {
//  text-align: right;
//}
//
//input.example-right-align::-webkit-outer-spin-button,
//input.example-right-align::-webkit-inner-spin-button {
//  display: none;
//}
//
//input.example-right-align {
//  -moz-appearance: textfield;



.login-container{
  padding-top: 150px;
  height: 150px;
  width: 350px;
  margin: auto;
  text-align: center;


}
