table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

.task-complete {
  background-color: lightgreen;
}
.task-new {
  background-color: yellow;
}
.header-styles{
  background-color: lightgray;

}
