table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

.task-complete {
  background-color: #4CAF50;
}
.task-new {
  background-color: #FFC107;
}
.header-styles{
  //background-color: #9C27B0;

}
