<div class="login-container">
<mat-card>
<div fxFlex fxLayout="column" fxLayoutAlign="flex-end">


    <p>Log in to EMS</p>
  <mat-form-field  appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput #login>

  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput #password [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary">Log in</button>
</div>
</mat-card>
</div>
